@use './tinymce.scss';

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  margin: 0;
}

label {
  font-weight: 700;
}

#app,
[data-theme] {
  height: 100%;
  color: var(--el-text-color-primary);
  background-color: var(--el-bg-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

/* 解决在行内模式的时候，Select的宽度丢失的问题 */
.el-form.el-form--inline .el-select {
  width: var(--el-form-inline-content-width);
}

/* 整个滚动条 */
::-webkit-scrollbar {
  width: 8px;               /* 滚动条的宽度 */
  height: 8px;              /* 滚动条的高度，对水平滚动条有效 */
  background-color: transparent; /* 滚动条的背景颜色 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--el-text-color-regular);
}

/* 滚动条滑块：悬停效果 */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--el-text-color-secondary);
}

/* 滚动条滑块：激活时的效果 */
::-webkit-scrollbar-thumb:active {
  background-color: var(--el-text-color-secondary);
}

/* 滚动条按钮（上下箭头） */
::-webkit-scrollbar-button {
  display: none; /* 通常情况下不显示滚动条按钮 */
}
