@use './tinymce.scss';

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  margin: 0;
}

label {
  font-weight: 700;
}

#app,
[data-theme] {
  height: 100%;
  color: var(--el-text-color-primary);
  background-color: var(--el-bg-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

/* 解决在行内模式的时候，Select的宽度丢失的问题 */
.el-form.el-form--inline .el-select {
  width: var(--el-form-inline-content-width);
}
